:root {
    --black: #000;
    --white: #f2f2f2;
    --n-width: 30px;
    --n-height: calc(var(--n-width) * 5);
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 16px;
    background-color: var(--white);
}

.wrap-404 {
    overflow: hidden;
    padding: 2rem 1rem;
}

.label {
    text-align: center;
    font-size: 0.75em;
}

.numbers {
    padding: 2rem 0 0;
}

.number {
    position: relative;
    display: inline-block;
    width: var(--n-height);
    transform: translateX(60%);
}

.four {
    position: relative;
    width: var(--n-width);
    height: var(--n-height);
    border: 1px solid var(--black);
}

.four::before,
.four::after {
    content: '';
    position: absolute;
    border: 1px solid var(--black);
}

.four::before {
    top: 50%;
    right: -1rem;
    width: calc(var(--n-width) * 4);
    height: var(--n-width);
}

.four::after {
    top: 0;
    left: calc(var(--n-width) * -2);
    width: var(--n-width);
    height: calc(var(--n-height) - var(--n-width));
}

.zero {
    position: relative;
    width: var(--n-width);
    height: var(--n-height);
    border: 1px solid var(--black);
}

.zero span {
    position: absolute;
    top: 0;
    left: calc(var(--n-width) * -2);
    width: var(--n-width);
    height: var(--n-height);
    border: 1px solid var(--black);
}

.zero::before,
.zero::after {
    content: '';
    position: absolute;
    border: 1px solid var(--black);
}

.zero::before {
    top: 1rem;
    right: -1rem;
    width: calc(var(--n-width) * 4);
    height: var(--n-width);
}

.zero::after {
    bottom: 1rem;
    right: -1rem;
    width: calc(var(--n-width) * 4);
    height: var(--n-width);
}

.text {
    position: relative;
    padding-top: 6rem;
    text-align: center;
    font-size: 1.125em;
}

.text::before {
    content: '';
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 6rem;
    height: 1px;
    background-image: repeating-linear-gradient(
        to left,
        rgba(0, 0, 0, 0.35) 0,
        rgba(0, 0, 0, 0.35) 0.5rem,
        transparent 0.5rem,
        transparent 1rem
    );
}

.text a {
    color: var(--black);
}

.sleep-walker {
    position: relative;
    height: 1px;
    margin: 5rem 0 3rem;
    background-image: repeating-linear-gradient(
        to left,
        transparent 0,
        transparent 0.12rem,
        rgba(0, 0, 0, 0.15) 0.125rem,
        rgba(0, 0, 0, 0.15) 0.25rem
    );
}

.man {
    position: absolute;
    top: -1.4rem;
    left: 0;
    width: 1px;
    height: 2rem;
    opacity: 0.6;
    transform: scale(0.5);
    animation: walking 50s linear infinite;
}

.head {
    position: relative;
    width: 0.5rem;
    height: 0.5rem;
    transform: translateX(-1px);
    border: 1px solid var(--black);
    border-radius: 50%;
}

.head::before {
    content: '';
    position: absolute;
    top: 0.28rem;
    left: 0;
    width: 170%;
    height: 1px;
    background-color: var(--black);
    transform-origin: 0% 0%;
    transform: rotate(-25deg);
}

.torso {
    position: relative;
    width: 1px;
    height: 50%;
    margin: 0 auto;
    background-color: var(--black);
}

.arm-a,
.arm-b {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 85%;
    transform-origin: top center;
    background-color: var(--black);
}

.arm-a::before,
.arm-b::before {
    content: '';
    position: absolute;
    bottom: -0.1rem;
    left: 0rem;
    width: 0.18rem;
    height: 0.18rem;
    border: 1px solid var(--black);
    border-radius: 50%;
}

.arm-a {
    transform: rotate(-20deg);
    animation: walk1 1.3 linear alternate infinite;
}

.legs {
    position: relative;
    width: 1px;
    height: 50%;
    margin: 0 auto;
}

.leg-a,
.leg-b {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top center;
    background-color: var(--black);
}

.leg-a::before,
.leg-b::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4px;
    height: 1px;
    background-color: var(--black);
}

.leg-a {
    transform: rotate(-20deg);
    animation: walk1 1.3s linear alternate infinite;
}

.leg-b {
    transform: rotate(20deg);
    animation: walk2 1.3s linear alternate infinite;
}

@keyframes walking {
    0% {
        left: 0;
        transform: scale(0.5) rotateY(0deg);
    }

    49.9% {
        transform: scale(0.5) rotateY(0deg);
    }

    50% {
        transform: scale(0.5) rotateY(180deg);
        left: 100%;
    }

    100% {
        transform: scale(0.5) rotateY(180deg);
        left: 0;
    }
}

@keyframes walk1 {
    0% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(20deg);
    }
}

@keyframes walk2 {
    0% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-20deg);
    }
}

@media all and (max-width: 768px) {
    header h1 {
        margin-bottom: 3rem;
    }
    .man {
        animation-duration: 30s;
    }
}

@media all and (max-width: 768px) {
    .numbers {
        display: flex;
        justify-content: center;
    }
    .number {
        width: 90px;
        transform: translateX(36%) scale(0.5);
    }
}
